.paginationWrapper {
  display: flex;
  align-items: center;
}

.goBackBtn,
.goNextBtn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--color-red);
  color: #fff;
  &:disabled {
    background-color: var(--color-grey-2);
    filter: blur(1px);
    cursor: default;
  }
}

.goBackBtn {
  margin-right: 1rem;
}

.goNextBtn {
  margin-left: 1rem;
}

.pageNumber {
  margin: 0 1rem;
  font-size: 1.6rem;
  border: none;
  background-color: transparent;
}

.activePageNumber {
  color: var(--color-red);
}

.dots {
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
}
